.player-card {
  height: 335px;
  width: 400px;
  align-content: center;
  margin: 15px;
  background-image: url('https://wallpaperaccess.com/full/128139.jpg');
}

.player-image {
  width: 200px;
  height: 150px;
  align-self: center;
}

.text {
  color: white;
}

.delete {
  color: white;
}